<h3 class="text-center">Tansactions</h3>
<hr>
<form>

    <div class="mb-3">
      <label class="form-label">From Account</label>
      <input
      [(ngModel)]="formRequest.accountFrom"
      name="accountFrom"
      type="text" class="form-control">
    </div>
    
    <div class="mb-3">
      <label class="form-label">To Account</label>
      <input 
      [(ngModel)]="formRequest.accountTo"
      name="accountTo"
      type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Amount</label>
      <input 
      [(ngModel)]="formRequest.amount"
      name="amount"
      type="number" class="form-control"
      #txtInputAmount>
    </div>
    
    <button 
    type="submit"
    (click)="transaction()"
    class="btn btn-primary">Submit</button>
</form>